body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin:0;
    padding:0;

    background-color: #D1FDD1;
}

/* == COLOURS == */

/* these elements should all have the same background color */

#header, .portlet a, #p-search{
    background-color: #5ECC5E;
}

/* these elements need to have the same border color */

#header, #column-content, #p-search, .portlet li{
    border-color: #4A4A4A !important;
}

#globalWrapper{
}

/* Header */

#header{
    margin: 0em;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
    /* padding-bottom: 0.5em; */
    padding: 0.5em 1em;
    border-bottom: 1px solid;
/* display: inline-block; */
/*  border-bottom-left-radius: 20px; */
/* border-bottom-right-radius: 20px; */
}


#logo{
    display:block;
}

/* Main Content */

#column-content{
    border: 1px solid;
    border-top: none;
    padding: 1em;
    margin: 0em 1em 0.1em 1em;
    /* margin: 1em; */
    
    background-color: #ffffff;
}

#siteSub{
    /*hides the site subtitle which by default just says "From SiteName"*/
    display: none;
}

/* Code for display pre / code tags */

code {
    background-color: #f9f9f9;
}
pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}


/* hide the retrieved from text */
.printfooter{
    display: none;
}

html {
    font-size: 0.8em; }

/*modifies the edit button */
.editsection{
    float:right;
    font-weight: normal;
    font-size:16px;
}

/*underline headings */
h1, h2, h3, h4, h5, h5{
    border-bottom: 1px solid #aaa;
}

/* = Portlets (ie: personal tools, views) = */


#p-search{
    border: 1px solid;
    padding: 0.5em;
    margin: 1em;
}

#searchInput{
    display:inline-table;
}

#p-search h5{
    /*hide the title of the search box*/
    display: none;
}

#searchform{
}

.portlet{
/* border: 1px solid #818CA5; */
/* background-color: #ccffcc; */
/* margin: 1em; */
/* border-radius: 5px; */
/* list-style: none; */
}

.portlet h5{
    display:none;
}

.portlet ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.portlet li {
    border: 1px solid;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0.5em;
}
.portlet li.selected {
    border-color: #fabd23;
    font-weight: bold;
}
.portlet li a{
    text-decoration: none;
    color: black;
    display: block;
    height:2em;
    padding-top:0.5em;
}

.portlet li a:hover{
    background-color: #D1FDD1;
    
}

.portlet .new a {
    color: #ba0000;
}

#actions, #personalTools{
    display: none;
}

/* = Edit Page Styles = */

/* This makes the text area when editing articles the correct size */
textarea{;
	 width:100%;
	}

#wpSummary{
    width:100%;
}

#wpSave, #wpPreview, #wpDiff{
    height: 3em;
    width: 100%;
    margin-bottom: 0.5em;
}

/* = Footer Styles = */

#siteInfo{
    text-align: center;
    margin-bottom: 1em;
}